@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mainFontNormal";
  src: url(/fonts/ZillaSlab-Medium.ttf);
}

body {
  background-color: #111827;
  font-family: "mainFontNormal";
}

/* #082f49  */
